body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    border: black solid;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.item {
    flex-shrink: 0;
    /* width: 125px;
    height: 125px; */
    background-color: white;
}

.hover {
    background-color: black;
}

button {
    margin-bottom: 64px;
    font-size: 24px;
}